body { 
    display: flex;
    flex-direction: column;
    flex:1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.header { 
    background-color: #1F2937;
    padding: 20px 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}   

.links {
    display: flex;
    gap: 15px;

}

a {
    text-decoration: none;
    color:aliceblue;
      
}

.section-one {
    background-color: #1F2937;
    padding: 20px 100px;
    display:flex;
    gap: 25px;
    

}

.text { 
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
       

}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin: 0;

}

.subtext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0;
}

button#button{
    background-color: #3882f6;
    color: #f9faf8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: 150px;
    border-radius: 12px;

}

.image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    background-color: #8d94a3 ;
    color: white;
}

.section-two {
    margin-top: 20px;
    background-color: white;
        
}

.box-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 150px;
    flex: auto;
    flex-wrap: wrap;
    margin: 20px;

} 

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.box {
    border: solid blue;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    display: flex;
    align-self: center;   
    
}

.random {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin: 20px;

}

.box-one > p {
    text-align: center;

}

.section-three {
    background-color: #E5E7EB;
    }

.quote {
    margin: 50px;
    padding: 20px;

}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937
}

.thor {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}



.action {
    margin: 50px;
    background-color: #3882F6;
    color: white;
    display: flex;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
        
    }

.word {
    padding:50px;
        
}


#title {
    font-size: 20px;
    font-weight: bold;
        
    }

#text {
    font-size: 18px;
    margin-top: -20px;

}
button#sign {
    background-color: #3882F6;
    padding: 15px 40px;
    font-weight: bold ;
    font-size: large;
    color: white;
    border: solid white;
    border-width: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

}

.footer {
    background-color: #1F2937;
    padding: 50px;
    font-size: medium;
    color: white;  
    text-align: center;  
}